.react-flow {
  --xy-controls-button-background-color-default: var(--color-rf-slate-800);
  --xy-controls-button-background-color-hover-default: var(--color-rf-slate-700);
  --xy-controls-button-color-default: var(--color-rf-slate-200);
  --xy-controls-button-color-hover-default: var(--color-rf-slate-200);
  --xy-controls-button-border-color-default: var(--color-rf-slate-700);
  --xy-controls-box-shadow-default: 0 0 2px 1px rgba(0, 0, 0, 0.3);

  --xy-minimap-background-color-default: var(--color-rf-slate-800);
  --xy-background-pattern-dots-color-default: var(--color-rf-slate-600);
  --xy-background-pattern-line-color-default: var(--color-rf-slate-700);
  --xy-background-pattern-cross-color-default: var(--color-rf-slate-700);
}
